---
import Container from "../../components/container";
import Header from "../../components/Header.astro";
import MoreStories from "../../components/more-stories";
import PostBody from "../../components/post-body";
import PostHeader from "../../components/post-header";
import SectionSeparator from "../../components/section-separator";
import Tags from "../../components/tags";
import Layout from "../../layouts/Layout.astro";
import { getAllPostsForHome, getPostAndMorePosts } from "../../lib/api";
const { slug } = Astro.params;
const { post } = await getPostAndMorePosts(slug, false, { post: "" });
const allPosts = await getAllPostsForHome(false);
const morePosts = allPosts.edges.slice(1);
---

<Layout title={post.title} description={post.excerpt}>
    <Header />
    <Container>
        <article>
            <PostHeader
                title={post.title}
                coverImage={post.featuredImage}
                date={post.date}
                author={post.author}
                categories={post.categories}
            />
            <PostBody content={post.content} />
            <footer>
                {post.tags.edges.length > 0 && <Tags tags={post.tags} />}
            </footer>
        </article>
        <SectionSeparator />
        {morePosts.length > 0 && <MoreStories posts={morePosts} />}
    </Container>
</Layout>