@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

body {
    --at-apply: "font-sans m-auto p-5 max-w-65ch text-(left neutral-300) bg-neutral-900 break-words leading-6 antialiased";
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    word-wrap: break-word;
    width: 100%;
    font-family: "Satoshi", system-ui,
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.has-text-align-left {
    @apply text-left;
}

.has-text-align-center {
    @apply text-center;
}

.has-text-align-right {
    @apply text-right;
}

.has-large-font-size {
    @apply text-4xl;
}

.has-medium-font-size {
    @apply text-2xl;
}

.has-small-font-size {
    @apply text-md;
}

.alignfull {
    @apply w-screen relative;

    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    right: 50%;
}

.wp-block-image img {
    @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
    @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
    @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
    @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
    @apply table-caption;

    caption-side: bottom;
}

.wp-block-image .alignleft {
    @apply float-left mr-4;
}
.wp-block-image .alignright {
    @apply float-right ml-4;
}
.wp-block-image .aligncenter {
    @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
    @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
    @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
    @apply mr-4;
}

.wp-block-cover {
    @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

    min-height: 430px;
}

.wp-block-verse {
    @apply font-sans;
}

.wp-block-media-text {
    @apply grid grid-cols-2 gap-4;
}

.content {
    @apply text-lg leading-relaxed;
}

.content p,
.content ul,
.content ol,
.content blockquote {
    @apply my-6;
}

.content a {
    @apply underline;
}

.content ul,
.content ol {
    @apply pl-4;
}

.content ul {
    @apply list-disc;
}

.content ol {
    @apply list-decimal;
}

.content ul > li > ul,
.content ol > li > ol {
    @apply my-0 ml-4;
}

.content ul > li > ul {
    list-style: circle;
}

.content h2 {
    @apply text-3xl mt-12 mb-4 leading-snug;
}

.content h3 {
    @apply text-2xl mt-8 mb-4 leading-snug;
}

.content h4 {
    @apply text-xl mt-6 mb-4 leading-snug;
}

.content pre {
    @apply whitespace-pre overflow-x-auto p-4 text-sm leading-tight border border-gray-400 bg-gray-100;
}

.content code {
    @apply text-sm;
}

.content figcaption {
    @apply text-center text-sm;
}

.content blockquote {
    @apply border-l-4 border-gray-500 bg-gray-200 italic ml-0 py-4 px-6;
}

.content blockquote p {
    @apply mt-0;
}

.content blockquote cite {
    @apply not-italic;
}

.content audio {
    @apply w-full;
}