@font-face {
    font-family: "CourierPrimeSans";
    src: url("fonts/CourierPrimeSansBold.woff2") format("woff2"),
        url("fonts/CourierPrimeSansBold.ttf") format("truetype");
    font-weight: 600;
}