---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import PostList from "../components/post-list";
import { getAllPostsForHome } from "../lib/api";

const allPosts = await getAllPostsForHome(false);
---

<Layout title="blog" description={SITE_DESCRIPTION}>
	<Header title={SITE_TITLE} />
    <PostList client:idle allPosts={allPosts} />
</Layout>