---
import Header from '../components/Header.astro';
import HeaderLink from '../components/HeaderLink.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
import Layout from '../layouts/Layout.astro';
---

<Layout title="home" description={SITE_DESCRIPTION}>
	<Header title={SITE_TITLE} />
	<h1>Welcome to my website!</h1>
	<h1>Right now, there is no content here. Go to the <HeaderLink href="/links">links</HeaderLink> page to find my links.</h1>
</Layout>