---
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
import Layout from '../layouts/Layout.astro';
---

<Layout title="links" description={SITE_DESCRIPTION}>
	<Header title={SITE_TITLE} />
    <h1>coming soon 👀</h1>
</Layout>