---
export const prerender = false;
import { db } from "../db";
import Layout from "../layouts/Layout.astro";

const musicIds = await db.query.musicIds.findMany();
---

<Layout title="music">
    <h1 class="text-4xl">music id list</h1>
    {
        musicIds.map((musicId) => (
            <p>
                {musicId.name} - {musicId.robloxId}
            </p>
        ))
    }
</Layout>
