---
import Layout from "../layouts/Layout.astro";
import { Card } from "../components/Card.tsx";
import { ProjectCard } from "../components/ProjectCard.tsx";
import { projects } from "@/lib/project";
---

<Layout title="projects">
  <h1 class="text-4xl">projects</h1>
  <p>welcome to my projects</p>
  <Card type="warning">
    most of these requires you to have javascript enabled
  </Card>
  <div class="grid grid-cols-2 gap-4">
    {
      projects.map((project) => {
        return (
          <ProjectCard
            project={{
              title: project.title,
              description: project.description,
              slug: project.slug,
            }}
          />
        );
      })
    }
  </div>
</Layout>
