::selection {
    background: rgba(0, 0, 0, 0) !important;
}

::-moz-selection {
    background: rgba(0, 0, 0, 0) !important;
}


.stillalive {
    width: 100dvw;
    height: 82.4dvh;
    background-color: black !important;
    color: #debe5f !important;
    font-family: "Courier New", "Courier", "CourierPrimeSans", monospace !important;
    font-weight: 600 !important;
}

span {
    display: inline-block;
    line-height: 1.35 !important;
    font-size: 1em !important;
}

pre {
    font-family: "Courier New", "Courier", "CourierPrimeSans", monospace !important;
    margin: 0;

    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

a {
    text-decoration: underline;
    color: currentColor;
}


.info_message {
    display: none;
}

.container_lyrics,
.info_message {
    position: absolute;
    width: 26.75em;
    height: 39em;
    top: calc(0.8em + 0.25em + 10.5rem);
    left: calc(0.7em + 0.25em + 2.5rem);
}

.info_message {
    display: block;
}

.container_lyrics {
    display: block;
    white-space: pre;
}

.container_lyrics>br {
    display: none;
}

.container_credits {
    display: block;
    position: absolute;
    width: 28.75em;
    height: 21em;
    top: calc(1.5em + 0.25em + 10.5rem);
    left: 32em;
}

.container_credits>span.row:empty:before {
    content: "\200b";
}

.container_asciiart {
    display: block;
    position: absolute;
    left: 38em;
    top: 40.5em;
    font-size: 14px;
}

.container_asciiart>pre {
    display: block;
    line-height: 1.2;
}

br.force-display {
    display: inline !important;
}