---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  rel="prefetch"
  class={
    isActive ? "font-bold underline" : "font-medium"
  }
  {...props}
>
  <slot />
</a>

<style>
    a {
        --at-apply: "text-themeColor underline-offset-3px hover:underline"
    }
</style>