<header class="pb-2 text-center">
    <h2 class="text-2xl">gurkan's website</h2>
    <div class="text-md flex flex-row justify-center gap-2">
        <slot name="row-1" />
    </div>
    <div class="text-md flex flex-row justify-center gap-2">
        <slot name="row-2" />
    </div>
</header>
