---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <h2>
    <img
      src="https://cdn.discordapp.com/avatars/592449995035246605/a_f2d1cd233c3b3512b4765ff0131751b3.gif"
      alt="gurkan's avatar"
      width={50}
      height={50}
    />
    Gurkan
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/links">Links</HeaderLink>
    <HeaderLink href="https://gitlab.com/thatgurkangurk" target="_blank"
      >GitLab</HeaderLink
    >
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
    
  }
  h2 {
    margin: 0.5em 0;
    --at-apply: "text-xl pb-1 flex items-center gap-3";
  }

  img {
    --at-apply: "rounded-full border-none m-0 font-bold"
  }

  nav {
    --at-apply: "flex gap-3"
  }
</style>