---
type Props = {
	href: string;
};

const { href } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

const isExternal = href.startsWith("http");
const isUnderlined = isExternal || pathname === href;
---

<a
	href={href}
	target={isExternal ? "_blank" : "_self"}
	class={isUnderlined ? "underline decoration-themeColor underline-offset-4 transition-colors" : ""}
>
	<slot />
</a>
