---
import "~/app.css";
import { join } from "node:path";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";

const WEBSITE_ID = import.meta.env.WEBSITE_ID;
---

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>gurkan's website</title>
	<AstroFont
		config={[
			{
				name: "Geist Mono",
				src: [
					{
						weight: "100",
						style: "normal",
						path: join(process.cwd(), "public", "fonts", "GeistMono.ttf"),
					},
					{
						weight: "100",
						style: "normal",
						path: join(process.cwd(), "public", "fonts", "GeistMono.woff2"),
					},
				],
				preload: true,
				display: "block",
				selector: "body",
				fallback: "sans-serif",
			},
		]}
	/>
</head>
<ViewTransitions />
<script is:inline async src="https://umami.gurkz.me/script.js" data-website-id={WEBSITE_ID}></script>