---
import type { Link } from "./Navbar";
import { Navbar as Nav } from "./Navbar";
import { Button } from "./ui/button";

const currentPath = new URL(Astro.request.url).pathname;

const links: Link[] = [
  {
    href: "/",
    text: "gurkan's website",
    alwaysActive: true,
  },
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/blog",
    text: "Blog",
  },
  {
    href: "/projects",
    text: "Projects",
  },
  {
    href: "/music",
    text: "Music IDs",
  },
];

const { user } = Astro.locals;
---

<header
  class="sticky top-0 flex h-16 items-center gap-4 border-b bg-background px-4 md:px-6 [grid-area:header]"
>
  <Nav client:idle links={links} currentPath={currentPath} />
  <div
    class="justify-items-end flex flex-row w-full items-center gap-4 md:ml-auto md:gap-2 lg:gap-4"
  >
    <div class="ml-auto flex-1 sm:flex-initial"></div>
    {
      user ? (
        <div class="flex flex-row items-center gap-2">
          <p>hello, {user.username}</p>
          <form method="post" action="/auth/logout">
            <Button variant="link" class="px-0" type="submit">
              log out
            </Button>
          </form>
        </div>
      ) : (
        <div>
          <a
            data-astro-reload
            class="px-0 text-primary hover:underline underline-offset-4 focus-visible:ring-[1.5px] focus-visible:ring-ring disabled:opacity-50"
            href={`/auth/discord`}
          >
            log in
          </a>
        </div>
      )
    }
  </div>
</header>
