---
import { getProjectBySlug } from "@/lib/projects";
import { ArrowLeftIcon } from "lucide-solid";
import { Button } from "./ui/button";
import Layout from "./Layout.astro";

const project = getProjectBySlug(Astro.url.pathname.replace("/project/", ""));

if (!project) return Astro.redirect("/projects");
---

<Layout title={project.title}>
  <a href="/projects">
    <Button><ArrowLeftIcon class="mr-2 h-6 w-6" /> back</Button>
  </a>

  <h2 class="text-3xl">{project.title}</h2>
  <p>{project.description}</p>

  <slot />
</Layout>
