---
import "../../style.css";
type Props = {
  title: string;
};

const { title } = Astro.props;
import { AstroFont } from "astro-font";
---

<meta charset="utf-8" />
<link rel="icon" type="image/ico" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<AstroFont
  config={[
    {
      preload: true,
      display: "swap",
      name: "Geist Mono",
      fallback: "sans-serif",
      src: [
        {
          weight: "100",
          style: "normal",
          path: "./public/fonts/GeistMono.woff2",
        },
        {
          weight: "100",
          style: "normal",
          path: "./public/fonts/GeistMono.ttf",
        },
      ],
    },
  ]}
/>
