---
import { getEntry } from "astro:content";
import Link from "~/components/Link.astro";
import Layout from "~/layouts/Layout.astro";

const { slug } = Astro.params;

if (!slug) {
	throw new Error("please provide a slug");
}

const project = await getEntry("projects", slug);

if (!project) {
	return Astro.redirect("/404");
}

const { Content } = await project.render();
---

<Layout>
	<Link href="/projects">⬅️ back</Link>
	<h1 transition:name=`${project.slug}-title`>{project.data.title}</h1>
	<p>{project.data.description}</p>
	<Content />
</Layout>
