---
import { getAllProjects } from "~/lib/projects";
import Layout from "~/layouts/Layout.astro";

const projects = getAllProjects();
---

<Layout>
	<h2>projects</h2>
	<ul class="list-inside list-disc">
		{
			projects.map((project) => (
				<li>
					<a href={`/projects/${project.slug}`} transition:name={`${project.slug}-title`}>
						{project.title}
					</a>
				</li>
			))
		}
	</ul>
</Layout>
