---
// original: https://github.com/SDSkyKlouD/still-alive-web/

// i will make this more original later, currently just a proof of concept (original was using jQuery)
---

<head>
	<link rel="stylesheet" href="/courierprime.css" />
	<link rel="stylesheet" href="/stillalive.css" />
</head>

<audio id="stillalive_bgm" controls hidden>
	<source src="/stillalive/stillalive.m4a" type="audio/mp4" />
	<p>your browser does not support the audio tag</p>
</audio>

<div class="container_lyrics_border">
	<pre>
----------------------------------------------   -----------------------------------------------
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             | -------------------------------------------------
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |

----------------------------------------------</pre>
</div>

<div class="container_lyrics_before_mobile">
	<button>click here to start</button><br />
	<span>works best on a PC</span>
</div>

<div class="container_asciiart">
</div>

<div class="container_credits"></div>

<a href="/projects"> &lt;- go back</a>

<script src="~/projects/still-alive.ts"></script>
