---
// original: https://github.com/SDSkyKlouD/still-alive-web/

// i will make this more original later, currently just a proof of concept (original was using jQuery)
---

<head>
	<link rel="stylesheet" href="/courierprime.css" />
	<link rel="stylesheet" href="/stillalive.css" />
</head>

<audio id="stillalive_bgm" controls hidden>
	<source src="/stillalive/stillalive.m4a" type="audio/mp4" />
	<p>your browser does not support the audio tag</p>
</audio>

<div class="container_lyrics_border">
	<pre>
----------------------------------------------   -----------------------------------------------
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             ||                                                 |
|                                             | -------------------------------------------------
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |
|                                             |

----------------------------------------------</pre>
</div>

<div class="container_lyrics_before_mobile">
	<button>click here to start</button><br />
	<span>works best on a PC</span>
</div>

<div class="container_asciiart">
	<!--
			1. Aperture
			2. Cake
			3. Explosion
			4. Radio
			5. Atom
			6. Biohazard
			7. BlackMesa
			8. BrokenHeart
			9. Check
			10. CompanionCube
			11. Fire
			12. GLaDOS
			13. Lightbulb
			14. MechArm
			15. PersonalitySphere
		-->

	<pre
		class="asciiart_aperture">
              .,-:;//;:=,
          . :H@@@MM@M#H/.,+%;,
       ,/X+ +M@@M@MM%=,-%HMMM@X/,
     -+@MM; $M@@MH+-,;XMMMM@MMMM@+-
    ;@M@@M- XM@X;. -+XXXXXHHH@M@M#@/.
  ,%MM@@MH ,@%=            .---=-=:=,.
  =@#@@@MX .,              -%HX$$%%%+;
 =-./@M@M$                  .;@MMMM@MM:
 X@/ -$MM/                    .+MM@@@M$
,@M@H: :@:                    . =X#@@@@-
,@@@MMX, .                    /H- ;@M@M=
.H@@@@M@+,                    %MM+..%#$.
 /MMMM@MMH/.                  XM@MH; =;
  /%+%$XHH@$=              , .H@@@@MX,
   .=--------.           -%H.,@@@@@MX,
   .%MM@@@HHHXX$$$%+- .:$MMX =M@@MM%.
     =XMMM@MM@MM#H;,-+HMM@M+ /MMMX=
       =%@M@M#@$-.=$@MM@@@M; %M%=
         ,:+$+-,/H#MMMMMMM@= =,
               =++%%%%+/:-.
			</pre>

	<pre
		class="asciiart_cake">
            ,:/+/-
            /M/              .,-=;//;-
       .:/= ;MH/,    ,=/+%$XH@MM#@:
      -$##@+$###@H@MMM#######H:.    -/H#
 .,H@H@ X######@ -H#####@+-     -+H###@X
  .,@##H;      +XM##M/,     =%@###@X;-
X%-  :M##########$.    .:%M###@%:
M##H,   +H@@@$/-.  ,;$M###@%,          -
M####M=,,---,.-%%H####M$:          ,+@##
@##################@/.         :%H##@$-
M###############H,         ;HM##M$=
#################.    .=$M##M$=
################H..;XM##M$=          .:+
M###################@%=           =+@MH%
@################M/.          =+H#X%=
=+M##############M,       -/X#X+;.
  .;XM##########H=    ,/X#H+:,
     .=+HM######M+/+HM@+=.
         ,:/%XM####H/.
              ,.:=-.
			</pre>

	<pre
		class="asciiart_explosion">
            .+
             /M;
              H#@:              ;,
              -###H-          -@/
               %####$.  -;  .%#X
                M#####+;#H :M#M.
..          .+/;%#########X###-
 -/%H%+;-,    +##############/
    .:$M###MH$%+############X  ,--=;-
        -/H#####################H+=.
           .+#################X.
         =%M####################H;.
            /@###############+;;/%%;,
         -%###################$.
       ;H######################M=
    ,%#####MH$%;+#####M###-/@####%
  :$H%+;=-      -####X.,H#   -+M##@-
 .              ,###;    ;      =$##+
                .#H,               :XH,
                 +                   .;-
			</pre>

	<pre
		class="asciiart_radio">
                   ;=
                   /=
                   ;=
                   /=
                   ;=
                   /=
                   ;=
                   /=
            ,--==-:$;
        ,/$@#######@X+-
     ./@###############X=
    /M#####X+/;;;;+H#####$.
   %####M/;+H@XX@@%;;@####@,
  +####H=+##$,--,=M#X-%####@.
 -####X,X@HHXH##MXHXXH-+####$
 X###@.X/$M$:####$=@X/X,X####-
.####:+$:##@:####$:##H/X=####%
-%%$%,+==%$+-$+:$;-$$%-+,/$%%+
-/+%%X$XX$$$$$$$%$$$%$X$X$%+/-

			</pre>

	<pre
		class="asciiart_atom">
                 =/;;/-
                +:    //
               /;      /;
              -X        H.
.//;;;:;;-,   X=        :+   .-;:=;:;%;.
M-       ,=;;;#:,      ,:#;;:=,       ,@
:%           :%.=/++++/=.$=           %=
 ,%;         %/:+/;,,/++:+/         ;+.
   ,+/.    ,;@+,        ,%H;,    ,/+,
      ;+;;/= @.  .H##X   -X :///+;
      ;+=;;;.@,  .XM@$.  =X.//;=%/.
   ,;:      :@%=        =$H:     .+%-
 ,%=         %;-///==///-//         =%,
;+           :%-;;;:;;;;-X-           +:
@-      .-;;;;M-        =M/;;;-.      -X
 :;;::;;-.    %-        :+    ,-;;-;:==
              ,X        H.
               ;/      %=
                //    +;
                 ,////,
			</pre>

	<pre
		class="asciiart_biohazard">
             =+$HM####@H%;,
          /H###############M$,
          ,@################+
           .H##############+
             X############/
              $##########/
               %########/
                /X/;;+X/

                 -XHHX-
                ,######,
#############X  .M####M.  X#############
##############-   -//-   -##############
X##############%,      ,+##############X
-##############X        X##############-
 %############%          %############%
  %##########;            ;##########%
   ;#######M=              =M#######;
    .+M###@,                ,@###M+.
       :XH.                  .HX:
			</pre>

	<pre
		class="asciiart_blackmesa">
           .-;+$XHHHHHHX$+;-.
        ,;X@@X%/;=----=:/%X@@X/,
      =$@@%=.              .=+H@X:
    -XMX:                      =XMX=
   /@@:                          =H@+
  %@X,                            .$@$
 +@X.                               $@%
-@@,                                .@@=
%@%                                  +@$
H@:                                  :@H
H@:         :HHHHHHHHHHHHHHHHHHX,    =@H
%@%         ;@M@@@@@@@@@@@@@@@@@H-   +@$
=@@,        :@@@@@@@@@@@@@@@@@@@@@= .@@:
 +@X        :@@@@@@@@@@@@@@@M@@@@@@:%@%
  $@$,      ;@@@@@@@@@@@@@@@@@M@@@@@@$.
   +@@HHHHHHH@@@@@@@@@@@@@@@@@@@@@@@+
    =X@@@@@@@@@@@@@@@@@@@@@@@@@@@@X=
      :$@@@@@@@@@@@@@@@@@@@M@@@@$:
        ,;$@@@@@@@@@@@@@@@@@@X/-
           .-;+$XXHHHHHX$+;-.
			</pre>

	<pre
		class="asciiart_brokenheart">
                          .,---.
                        ,/XM#MMMX;,
                      -%##########M%,
                     -@######%  $###@=
      .,--,         -H#######$   $###M:
   ,;$M###MMX;     .;##########$;HM###X=
 ,/@##########H=      ;################+
-+#############M/,      %##############+
%M###############=      /##############:
H################      .M#############;.
@###############M      ,@###########M:.
X################,      -$=X#######@:
/@##################%-     +######$-
.;##################X     .X#####+,
 .;H################/     -X####+.
   ,;X##############,       .MM/
      ,:+$H@M#######M#$-    .$$=
           .,-=;+$@###X:    ;/=.
                  .,/X$;   .::,
                      .,    ..
			</pre>

	<pre
		class="asciiart_check">
                                     :X-
                                  :X###
                                ;@####@
                              ;M######X
                            -@########$
                          .$##########@
                         =M############-
                        +##############$
                      .H############$=.
         ,/:         ,M##########M;.
      -+@###;       =##########M;
   =%M#######;     :#########M/
-$M###########;   :#########/
 ,;X###########; =########$.
     ;H#########+#######M=
       ,+##############+
          /M#########@-
            ;M######%
              +####:
               ,$M-
			</pre>

	<pre
		class="asciiart_companioncube">
+@##########M/             :@#########@/
##############$;H#######@;+#############
###############M########################
##############X,-/++/+%+/,%#############
############M$:           -X############
##########H;.      ,--.     =X##########
:X######M;     -$H@M##MH%:    :H#######@
  =%#M+=,   ,+@#######M###H:    -=/M#%
  %M##@+   .X##$, ./+- ./###;    +M##%
  %####M.  /###=         @##M.   X###%
  %####M.  ;M##H:.     =$###X.   $###%
  %####@.   /####M$-./@#####:    %###%
  %H#M/,     /H###########@:     ./M#%
 ;$H##@@H:    .;$HM#MMMH$;,   ./H@M##M$=
X#########%.      ..,,.     .;@#########
###########H+:.           ./@###########
##############/ ./%%%%+/.-M#############
##############H$@#######@@##############
##############X%########M$M#############
+M##########H:            .$##########X=
			</pre>

	<pre
		class="asciiart_fire">
                     -$-
                    .H##H,
                   +######+
                .+#########H.
              -$############@.
            =H###############@  -X:
          .$##################:  @#@-
     ,;  .M###################;  H###;
   ;@#:  @###################@  ,#####:
 -M###.  M#################@.  ;######H
 M####-  +###############$   =@#######X
 H####$   -M###########+   :#########M,
  /####X-   =########%   :M########@/.
    ,;%H@X;   .$###X   :##MM@%+;:-
                 ..
  -/;:-,.              ,,-==+M########H
 -##################@HX%%+%%$%%%+:,,
    .-/H%%%+%%$H@###############M@+=:/+:
/XHX%:#####MH%=    ,---:;;;;/%%XHM,:###$
			</pre>

	<pre
		class="asciiart_glados">
       #+ @      # #              M#@
 .    .X  X.%##@;# #   +@#######X. @#%
   ,==.   ,######M+  -#####%M####M-    #
  :H##M%:=##+ .M##M,;#####/+#######% ,M#
 .M########=  =@#@.=#####M=M#######=  X#
 :@@MMM##M.  -##M.,#######M#######. =  M
             @##..###:.    .H####. @@ X,
   ############: ###,/####;  /##= @#. M
           ,M## ;##,@#M;/M#M  @# X#% X#
.%=   ######M## ##.M#:   ./#M ,M #M ,#$
##/         $## #+;#: #### ;#/ M M- @# :
#+ #M@MM###M-;M #:$#-##$H# .#X @ + $#. #
      ######/.: #%=# M#:MM./#.-#  @#: H#
+,.=   @###: /@ %#,@  ##@X #,-#@.##% .@#
#####+;/##/ @##  @#,+       /#M    . X,
   ;###M#@ M###H .#M-     ,##M  ;@@; ###"
   .M#M##H ;####X ,@#######M/ -M###$  -H
    .M###%  X####H  .@@MM@;  ;@#M@
      H#M    /@####/      ,++.  / ==-,
               ,=/:, .+X@MMH@#H  #####$=
			</pre>

	<pre
		class="asciiart_lightbulb">
         ,=;%$%%$X%%%%;/%%%%;=,
     ,/$$+:-                -:+$$/,
   :X$=                          =$X:
 ;M%.                              .%M;
+#/                                  /#+
##                                    M#
H#,                     =;+/;,       ,#X
.HM-       :@X+%H:   .%M%- .M#.     -M@.
  /#%.     @#-  ,H@--MH, .;@$-    .%#+
   .$M;    .+@X;, MM#@:/$X;.     ;M$,
     =@H,     ,:+%H#M%;-       ,H@=
      .$#;        -#H         =#$
        %#;        #M        ;#%
         H#-       ##       -#H
         ;#+       ##       +#;
          ;H+;;;;;;HH;;;;;;+H/
           =H#@HHHHHHHHHH@#H=
           =@#H%%%%%%%$HH@#@=
           =@#X%%%%%%%$M###@=
               =+%XHHX%+=
			</pre>

	<pre
		class="asciiart_mecharm">
      X MM X
      X MM X
      X MM X
      X MM X
      + HX +
    ,=$$XX%/-
  =X#########@%-
 ;##############=
-###############M,
;##@@@######M@###=
.+:;+:=H##$=:/:;H.
- +###- ## :###,,;
+@:/%;-H##H==/::H;
 /#@/-=+$$%::+H#$
 $#%-,      ,.:##-
-@/            =X%.
%H=             -$;
 =HH,         .%M;
  /MM/       :@M/.
   .:XX,   -$H:.
			</pre>

	<pre
		class="asciiart_personalitysphere">
      .-+$H###MM@MMMMM##@$+-,. ....
-@$+%$+%HX+--..  .  . .,:X$/+/++$#:
-#MXH$=                      $HXH#:
 .--,:#+   ,+$HMX =@@X%, . .X#:,,,
     =#@$H :####H =####;,M%$#X
     X###$ $####X =####H %###X
    ;###X /###@$: ,+HM##H.+###;
   :###;,X##%=;%H@H$;-;M#@-;###/
  ,M##;.@##;-H#######M=.M##-:###-
  ;##M ;##X @###H-=@###.;##X H##;
  ;##M./##X.@###H:/M###-=##X X##;
  -###;,M##:,@########+-H##; @##-
   %##M==@##%==%HMH%::/M##+.X##+
    %###/./###X+: -+$M##M=,X##+
     X###X X####H +#####% @##H
     :###H %####H +#####; X##;
     /#$.  -HM##H /###@+.  +#$. .
/HX%$X:      .,-, .-,.      =XX$H@-
/#H+/+%+/+;=.          .=/%;;/;;+#+
 ..  .,-:XM#MM@@@@@@H@@M#@+=,.   ,,
			</pre>
</div>

<div class="container_credits"></div>

<a href="/projects"> &lt;- go back</a>

<script src="~/projects/still-alive.ts"></script>
