---
import "~/styles/global.css";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import Meta from "../components/Meta.astro";
import { AuthStatus } from "~/components/AuthStatus";

type Props = {
    title?: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <Meta />
        <title>
            {title ? `${title} - gurkan's website` : "gurkan's website"}
        </title>
    </head>
    <body class="pt-2 dark:bg-themeBlack dark:text-white p-2">
        <nav class="pt-2">
            <Header>
                <div slot="row-1">
                    <Link href="/">home</Link>
                    <Link href="/music">music ids</Link>
                    <Link href="/projects">projects</Link>
                </div>
                <div slot="row-2">
                    <AuthStatus client:load />
                </div>
            </Header>
        </nav>

        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    html {
        scrollbar-gutter: stable both-edges;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
</style>
