---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Meta from "../components/meta/Meta.astro";
import { SITE_TITLE } from "../config";

type Props = {
  title: string
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <Meta title={`${SITE_TITLE} ${title}`} />
    <script is:inline defer async src="https://umami.gurkz.me/script.js" data-website-id="d6b3253f-e547-4a4f-82f4-b7424d80b446"></script>
  </head>
  <body>
    <main class="grid-area-[main]">
      <Header />
      <slot />
    </main>

    <Footer />
  </body>
</html>
