---
import Meta from "~/components/Meta.astro";
import Header from "~/components/Header.astro";
import Link from "~/components/Link.astro";
---

<html
	lang="en"
	class="ml-[calc(100vw-100%)] mr-0 h-[96dvh] touch-manipulation scroll-smooth antialiased [color-scheme:dark]"
>
	<Meta />
	<body
		class=`font-geist max-w-prose gap-10px m-auto grid h-full grid-cols-[1fr] grid-rows-[1fr] p-4 text-left [grid-template-areas:"main"_"footer"]`
	>
		<main class="[grid-area:main]">
			<Header>
				<Link href="/">home</Link>
				<Link href="/blog">blog</Link>
				<Link href="/projects">projects</Link>
			</Header>
			<slot />
		</main>
	</body>
</html>
