---
import "../styles/global.css";
import "@unocss/reset/tailwind.css";
import { SITE_TITLE } from "../config";

export interface Props {
	title: string | undefined;
	description: string | undefined;
}

const { title, description, image = new URL("/images/banner.png", Astro.url) } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<link
		rel="preload"
		href="/fonts/Satoshi-Variable.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	/>

	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{SITE_TITLE} {title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="gurkan" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />


		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{SITE_TITLE} {title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- CSR -->
<script>
	import flamethrower from "flamethrower-router";

	export const router = flamethrower({
		pageTransitions: true,
		prefetch: "visible",
	});
</script>
