---
type Props = {
    title?: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark m-0 w-full h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>
            {title ? `${title} - gurkan's website` : "gurkan's website"}
        </title>
    </head>
    <body class="m-0 w-full h-full dark:bg-black dark:text-white">
        <main class="p-2">
            <slot />
        </main>
    </body>
</html>
