---
import Link from "~/components/Link.astro";
import Layout from "~/layouts/Layout.astro";
import type { Project } from "~/lib/projects";

type Props = {
	project: Project;
};

const { project } = Astro.props;
---

<Layout>
	<Link href="/projects">⬅️ back</Link>
	<h1 transition:name=`${project.slug}-title`>{project.title}</h1>
	<p>{project.description}</p>
	<slot />
</Layout>
