name: trigger deploy

on:
  registry_package:
    types: [published, updated]

jobs:
  send-webhook:
    runs-on: ubuntu-latest
    steps:
      - name: send webhook
        run: |
          curl -X POST "${{ secrets.DEPLOY_WEBHOOK_URL }}" \
            -H "Content-Type: application/json" \
            -H "x-github-event: registry_package" \
            -d '{"registry_package": {"package_version": {"package_url": "ghcr.io/thatgurkangurk/gurkz.me:latest"}}}'
